[submodule "patient-service"]
	path = patient-service
	url = https://github.com/vaibhav25-mnnit/patient_service.git
[submodule "billing-service"]
	path = billing-service
	url = https://github.com/vaibhav25-mnnit/billing-service.git
[submodule "analytics-service"]
	path = analytics-service
	url = git@github.com:vaibhav25-mnnit/analytics_service.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:vaibhav25-mnnit/api-gateway.git
